body {
	background-color: black;
	color: white;
}

/*class attribute*/
.ab1 {
	color: skyblue;
}

#abo1 {
	color: powderblue;
	margin: 16px;
}

#hob1 {
	color: powderblue;
	margin: 16px;
	text-align: center;
	
}

.hob1 {
	margin-top: 10px;
}