body{
	background-color:black;
	color:white;
}

/*id attribute tag*/
.about{
	text-align:center;
	color:powderblue;
	margin:16px;
}
.info{
	color: powderblue;
}
/*id attribute tag*/
.hobies{
	color:powderblue;
	text-align: center;
}
.contact{
	margin-left: 580px;
	margin-bottom: 50px;
}
.reach{
	display:block;
	margin-top:50px;
	margin-left: 49%;
}
